.row
  .col-lg-12
    %h1.header= t('noteify.dashboard')

.row
  .col-lg-12
    %p.whoami= current_user.email
    = link_to "New note", new_note_path
    = link_to "Archives", archives_path 
    = link_to "Sign out", destroy_user_session_path, method: :delete


.row
  .col-lg-12
    #notes
      = render @notes

